<div>
    <h1>Shopping - Dashboard</h1>
    <h4 ng-show="vm.addingToCart">Adding To Cart.......</h4>
    <ul class="row list-unstyled  list-inline">
        <li ng-repeat="item in vm.items">
            <div>
                <img class="img-responsive img-thumbnail" ng-src="{{item.ImageURL}}" alt="{{item.Description}}" />
                <h4>{{ item.Description }}</h4>
                <p>Price: {{ item.Price | currency}}</p>
                <p>Discount: {{ item.Discount | currency}}</p>
                <a class="btn btn-primary" ng-click="vm.addToBasket(item)">Add to Cart</a>
            </div>
        </li>
    </ul>
</div>